services:
  flask-app:
    build: ./app
    environment:
      - MONGO_URI=mongodb://admin:3SOWk2YyRtBOkP5wVmnw@mongo:27017
    volumes:
      - ./app:/app:rw
    ports:
      - "127.0.0.1:5000:5000"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs:/var/log/nginx
    ports:
      - "4123:80"
    depends_on:
      - flask-app

  mongo:
    image: mongo:6
    volumes:
      - mongodb_data:/data/db
    ports:
      - "127.0.0.1:27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=3SOWk2YyRtBOkP5wVmnw
    restart: always


volumes:
  mongodb_data:
